h1{
    font-size: 115px;
    color: rgba(238, 144, 247, 0.5);
    font-family: verdana;
    -webkit-text-stroke-color: rgb(90, 3, 83);
    -webkit-text-stroke-width: 1px;
    margin-bottom: 200px;
    
}

body{
    text-align: center;
    background: radial-gradient(rgba(240, 189, 94, 0.829),rgba(238, 144, 247, 0.5));
    padding-top: 110px;
    
}

footer{
    text-align: center;
    background-color: grey;
    padding: 20px;
    margin-top: 20px;